<h1>Booking Confirmation</h1>

<!-- Affichez ici les détails de la réservation -->
<div>

  <p>Récapitulatif de la réservation :</p>

  <!-- Affichez ici les détails de la réservation -->
  <div>
    <h2>Réservation</h2>
    <form>
      <div class="form-group">
        <label for="currency">Monnaie :</label>
        <select id="currency" class="form-control" [(ngModel)]="flight.selectedCurrency">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <!-- Ajoutez d'autres options de monnaie au besoin -->
        </select>
      </div>
      <div class="form-group">
        <label for="price">Prix :</label>
        <input type="text" id="price" class="form-control" [(ngModel)]="flight.price">
      </div>
    </form>
  </div>
  <p>Numéro de réservation : {{ flight.id }}</p>

  <p>Numéro de vol : {{ flight.airport_departiture }}</p>

  <p>Nom du passager : {{ flight.airport_destination }}</p>

  <!-- Lien pour télécharger le récapitulatif -->

  <!-- <a href="{{ recapLink }}">Télécharger le récapitulatif</a> -->

</div>

