<div class="container mt-4">
  <h1 class="display-4">Confirmation de Réservation</h1>

  <div class="card" *ngIf="confirmBooking">
    <div class="card-body">
      <h5 class="card-title">Récapitulatif de la Réservation :</h5>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Numéro de Réservation :</strong> {{ confirmBooking.id }}</li>
        <li class="list-group-item"><strong>Numéro de Vol :</strong> {{ confirmBooking.flight_id }}</li>
        <li class="list-group-item"><strong>Date de Départ :</strong> {{ confirmBooking.date_departiture | date: 'dd/MM/yyyy' }}</li>
        <li class="list-group-item"><strong>Nombre de Billets :</strong> {{ confirmBooking.quantity }}</li>
        <li class="list-group-item"><strong>Devise :</strong> {{ confirmBooking.currency }}</li>
        <li class="list-group-item"><strong>Nombre de Bagages :</strong> {{ confirmBooking.luggages }}</li>
        <li class="list-group-item"><strong>Réduction :</strong> {{ confirmBooking.discount }}</li>
        <li class="list-group-item"><strong>Réduction Conditionnée :</strong> {{ confirmBooking.discount_cond }}</li>
        <li class="list-group-item"><strong>Coût des Bagages Supplémentaires :</strong> {{ confirmBooking.cost_per_more_luggages }}</li>
      </ul>

      <!-- Lien pour télécharger le récapitulatif -->
      <a class="btn btn-primary mt-3">Télécharger le Récapitulatif</a>
      <a class="btn btn-primary mt-3 mr-5" routerLink="/">Retour</a>
    </div>
  </div>
</div>
