<nav>
  <h1 style="text-align: center;"> BIENVENUE A LA RESERVATION DE VOTRE VOL</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="container mt-5">
      <h1 class="mb-4">Réservez votre vol - Air Camair</h1>
          <div class="form-group">
            <div class="row">
              <div class="flight-container" style="list-style: none;">
                <li *ngFor="let flight of flightLists">
                  <a style="text-decoration: none; color: black; font-size: 30px;" (click)="selectFlight(flight)">{{ flight.airport_departiture }} - {{ flight.airport_destination }}</a>
                </li>
              </div>
            </div>
            <div class="row" *ngIf="selectedFlight">
              <p class="text-xl">Vous allez de <strong>{{selectedFlight.airport_departiture}}</strong> à <strong>{{ selectedFlight.airport_destination}}</strong></p>
              <!-- <div class="row">
                <p class="col-3">Prix du vol {{selectedFlight.price}}</p>
                <select name="currency" id="currency" class="col-6">
                  <option (value)="selectedFlight.price" selected>EUR</option>
                </select>
              </div> -->
              <h1 *ngIf="totalPrice">{{totalPrice}} EURO</h1>
              <div class="row col-md-6">
                <div class="form-group">
                  <label for="dateDeparture">Renseigner votre date de départ:</label>
                <input
                  type="date"
                  class="form-control"
                  id="dateDeparture"
                  [(ngModel)]="dateFlight"
                  name="dateDeparture"
                  [min]="minDate"
                >
                </div>
                <div class="form-group">
                  <label for="luggage">Nbre de baggages :</label>
                  <input required type="number" id="luggage" class="form-control" (ngModelChange)="onLuggagesChanged()" name="luggage" min="0" [(ngModel)]="luggages">
                </div>
              </div>
            </div>
            <br/>
            <button type="button" class="btn btn-primary" (click)="onBooking(selectedFlight.id, dateFlight)">Réserver</button>
            </div>
      </div>
  </div>
</div>


