<nav>
  <h1 style="text-align: center;"> BIENVENUE A LA RESERVATION DE VOTRE VOL</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="container mt-5">
      <h1 class="mb-4">Réservez votre vol - Air Camair</h1>
          <div class="form-group">
            <div class="row">
              <div class="flight-container col-md-5" (mousedown)="selectFlight(flight)" style="list-style: none;" *ngFor="let flight of flightLists" [ngClass]="{'selected-flight': flight === selectedFlight}">
                <li>
                  <a style="text-decoration: none; font-size: 30px;">{{ flight.airport_departiture.code }} - {{ flight.airport_destination.code }}</a>
                </li>
              </div>
            </div>
            <div class="row" *ngIf="selectedFlight">
              <p class="text-xl">Vous allez de <strong>{{selectedFlight.airport_departiture.code}}</strong> à <strong>{{ selectedFlight.airport_destination.code}}</strong></p>
              <!-- <div class="row">
                <p class="col-3">Prix du vol {{selectedFlight.price}}</p>
                <select name="currency" id="currency" class="col-6">
                  <option (value)="selectedFlight.price" selected>EUR</option>
                </select>
              </div> -->
              <div class="row">
                <div class="col-md-6">
                  <h1 *ngIf="totalPrice" style="color: green;">{{totalPrice}}</h1>
                </div>
                <div class="col-md-6">
                  <select name="currency" id="currency" (click)="onPriceChanged()" [(ngModel)]="selectedCurrency" style="padding: 2px; width: 100px; height: 50px; margin-left: -406px;">
                    <option *ngFor="let curr of currencies" [value]="curr.currency">{{curr.currency}}</option>
                  </select>
                </div>
              </div>

              <div class="row col-md-6">
                <div class="form-group">
                  <label for="dateDeparture">Renseigner votre date de départ:</label>
                <input
                  type="date"
                  class="form-control"
                  id="dateDeparture"
                  [(ngModel)]="dateFlight"
                  name="dateDeparture"
                  [min]="minDate"
                >
                </div>
                <div class="form-group">
                  <label for="email_guest">Email :</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email_guest"
                    id="email_guest"
                    [(ngModel)]="emailGuest"
                    required
                  >
                </div>

                <div class="form-group">
                  <label for="luggage">Nbre de baggages :</label>
                  <input required type="number" id="luggage" class="form-control" (input)="onPriceChanged()" name="luggage" min="0" [(ngModel)]="luggages">
                </div>
                <div class="form-group">
                  <label for="luggage">Nbre de Billet :</label>
                  <input required type="number" id="seats" class="form-control" name="seats" min="1" max= "10" [(ngModel)]="numberPlaces">
                </div>
              </div>
            </div>
            <br/>
            <button type="button" class="btn btn-primary" (click)="onBooking(selectedFlight.id, dateFlight, emailGuest, numberPlaces, selectedCurrency
            , luggages)">Réserver</button>
            </div>
      </div>
  </div>
</div>


