<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 30px; font-weight: bold;">AIR-CAMAIR-K⁴</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h2 style="text-align: center;margin-left: 10rem;color: green;"> BIENVENUE A LA RESERVATION DE VOTRE VOL</h2>
    </div>
    <img src="../../../assets/aircraft-symbol-icon-png.png" width="100px" height="80px" alt="air-craft">
  </div>
</nav>
<div class="container">
  <img src="../../../assets/hp-herobanner-2880x1920.jpg" alt="abu-dhabi" style="margin-left: -60px;">
</div>
